{% extends 'base.html.twig' %}

{% block title %} Symfony React Starter {% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Météo by Dimitrie</a>
    </nav>
    <style>
    .app_
    {
        width:400px;
        height:50vh;
        display:block;
        margin:20px auto;
        border-left:1px solid #aaa;
        border-right:1px solid #aaa;
        padding:30px;
    }
    </style>
    <div id="root"></div>


{% endblock %}

